<app-header [title]="'Enter new employee details'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- TODO: add validation -->
        <form (ngSubmit)="createEmployee(f)" #f="ngForm" name="form" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked"
                >Name <ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                required
                minlength="2"
                maxlength="25"
                type="text"
                ngModel
                name="name"
                #name="ngModel"
              ></ion-input>
              <error-messages [errors]="name.errors"></error-messages>
            </ion-item>

            <ion-item>
              <ion-label position="stacked"
                >Salary <ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                required
                min="1"
                max="9999"
                type="number"
                ngModel
                name="salary"
                #salary="ngModel"
              ></ion-input>
              <error-messages [errors]="salary.errors"></error-messages>
            </ion-item>

            <ion-item>
              <ion-label position="stacked"
                >Age <ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                required
                min="18"
                max="65"
                type="number"
                ngModel
                name="age"
                #age="ngModel"
              ></ion-input>
              <error-messages [errors]="age.errors"></error-messages>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Avatar</ion-label>
              <ion-input type="text" ngModel name="profile_image"></ion-input>
            </ion-item>
          </ion-list>
          <div class="ion-padding">
            <ion-button
              expand="block"
              type="submit"
              class="ion-no-margin"
              [disabled]="!f.form.valid"
              >Create Employee</ion-button
            >
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
