<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="authenticationService.currentUser | async as currentUser"
        color="primary"
        (click)="openUserMenu()"
      >
        {{ currentUser.firstName }} {{ currentUser.lastName }}
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title }} </ion-title>
  </ion-toolbar>
</ion-header>
