<app-header [title]="'Employee List'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="showModal()" color="primary">Create</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar
          showCancelButton="focus"
          debounce="500"
          placeholder="Type to filter data..."
          (ionChange)="updateFilter($event)"
        ></ion-searchbar>
        <ngx-datatable
          #table
          class="material striped"
          columnMode="force"
          [loadingIndicator]="!employees"
          headerHeight="50"
          footerHeight="50"
          rowHeight="auto"
          [rows]="employees"
          [columns]="[
          { prop: 'id', name: 'ID' },
          { prop: 'name', name: 'Name' },
          { prop: 'salary', name: 'Salary' }
          ]"
          [limit]="10"
          [selected]="selected"
          selectionType="single"
          (select)="onSelect($event)"
        >
        </ngx-datatable>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
