<app-header [title]="'Employee List'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="showModal()" color="primary">
          <ion-icon slot="start" name="person-add"></ion-icon>
          Create</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- TODO: Separate search and column type to its own component. input: columns output: searchColumn, updateFilter($event) -->
      <ion-col size="12" size-md="8">
        <ion-searchbar
          showCancelButton="focus"
          debounce="500"
          placeholder="Type to filter data..."
          (ionChange)="updateFilter($event)"
        ></ion-searchbar>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Search Column</ion-label>
            <ion-select [(ngModel)]="searchColumn" placeholder="Search Column">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option
                *ngFor="let column of columns"
                [value]="column.prop"
                >{{column.name}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ngx-datatable
          #table
          [ngClass]="(appComp.castThemeToggle$ | async) ? 'dark':'material striped'"
          columnMode="force"
          [loadingIndicator]="!employees"
          headerHeight="50"
          footerHeight="50"
          rowHeight="auto"
          [rows]="employees"
          [columns]="columns"
          [limit]="10"
          [selected]="selected"
          selectionType="single"
          (select)="onSelect($event)"
        >
        </ngx-datatable>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
