<app-header [title]="'Employee List'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          showCancelButton="focus"
          debounce="500"
          placeholder="Type to filter data..."
          (ionChange)="updateFilter($event)"
        ></ion-searchbar>
        <ngx-datatable
          #table
          class="material striped"
          columnMode="force"
          [loadingIndicator]="!employees"
          headerHeight="50"
          footerHeight="50"
          rowHeight="auto"
          [rows]="employees"
          [columns]="[
          { prop: 'id', name: 'ID' },
          { prop: 'name', name: 'Name' },
          { prop: 'salary', name: 'Salary' }
          ]"
          [limit]="10"
          [selected]="selected"
          selectionType="single"
          (select)="onSelect($event)"
        >
        </ngx-datatable>
      </ion-col>
      <!-- <ion-col>
        <ion-card class="welcome-card">
          <div class="text-center">
            <ion-icon name="contact" class="pp"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-subtitle>Age {{ selected[0]?.age }}</ion-card-subtitle>
            <ion-card-title>{{ selected[0]?.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <span> <strong>Salary:</strong> {{ selected[0]?.salary }} </span>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
