<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Employee List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ngx-datatable
          class="material striped"
          columnMode="force"
          [loadingIndicator]="!employees"
          headerHeight="50"
          footerHeight="50"
          rowHeight="auto"
          [rows]="employees"
          [limit]="10"
          [columns]="
              [
              { prop: 'id', name: 'ID' },
              { prop: 'name', name: 'Name' },
              { prop: 'salary', name: 'Salary' }
              ]"
          [selected]="selected"
          selectionType="single"
        >
        </ngx-datatable>
      </ion-col>
      <ion-col>
        <div>
          <ul>
            <li *ngFor="let sel of selected">
              <strong>Name:</strong> {{ sel.name }}
              <br><strong>Salary:</strong> {{ sel.salary }}
              <br><strong>Age:</strong> {{ sel.age }}
            </li>
            <li *ngIf="!selected.length">No Selections</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
