<app-header [title]="'Login'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offsetMd="3">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" name="form" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked"
                >Username <ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                required
                minlength="2"
                maxlength="25"
                type="text"
                ngModel
                name="username"
                #username="ngModel"
              ></ion-input>
              <error-messages [errors]="username.errors"></error-messages>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"
                >Password <ion-text color="danger">*</ion-text></ion-label
              >
              <ion-input
                required
                minlength="2"
                maxlength="25"
                type="password"
                ngModel
                name="password"
                #password="ngModel"
              ></ion-input>
              <error-messages [errors]="password.errors"></error-messages>
            </ion-item>
          </ion-list>
          <div class="ion-padding">
            <ion-button
              expand="block"
              type="submit"
              class="ion-no-margin"
              [disabled]="!f.form.valid || loading"
            >
              <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
              Login</ion-button
            >
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
