<ion-segment class="tabBarWrapper" color="primary">
  <ion-segment-button routerLink="/xxx">
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button routerLink="/xxx">
    <ion-icon name="search"></ion-icon>
  </ion-segment-button>
  <ion-segment-button routerLink="/xxx">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button routerLink="/xxx">
    <ion-icon name="heart-empty"></ion-icon>
  </ion-segment-button>
  <ion-segment-button routerLink="/xxx">
    <ion-icon name="person"></ion-icon>
  </ion-segment-button>
</ion-segment>
