.thumb {
  display: inline-block;
  width: calc(33.3% - 2px);
  margin: 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3 ease-out;

  &:hover {
    opacity: 0.5;
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

// .bottom-div {
//   height: 20px;
//   position: absolute;
//   bottom: -15%;
// }
